.idea/
.vscode/

__pycache__/
.ipynb_checkpoints/
.mypy_cache
.pytest_cache
.coverage

docs/_build/
build/
dist/
*.egg-info/
*.egg

htmlcov/

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*Notes.bib
