cirq==0.11.0
dash==1.21.0
dataclasses==0.6
decorator==5.0.9
networkx>=2.5
numpy==1.19.5
pandas>=1.1.0
plotly==5.1.0
pygame==2.0.1
qiskit==0.24.1
scikit-learn==0.24.2
seaborn==0.11.1
sympy==1.8
tensorboard==2.5.0
tensorflow==2.5.1
tensorflow-quantum
tqdm==4.36.1
wandb==0.10.33
